@media only screen and (max-width: 1200px) {
	#start header .inner {
		padding: 0 20px;
	}

	#start main .main_text {
		padding: 0 20px;
	}
/* 
	#start main .main_text p {
		padding: 0 20px;
	} */

	#section1 .title h2 {
		font-size: 3.5em;
	}

	#skill .section_inner {
		padding: 10em 20px;
	}

	#work .section_inner .title h2 {
		font-size: 6em;
	}

	#contact .section_inner {
		padding: 0 20px;
	}
}

@media only screen and (max-width: 1000px) {
	#skill .skill_info .skill_item {
		flex-wrap: wrap;
	}

	#skill .skill_info .skill_item .skill_title,
	#skill .skill_info .skill_item .skill_icon {
		width: 100%;
	}

	#skill .skill_info .skill_item .skill_icon .icon_wrap {
		flex-wrap: wrap;
	}

	#skill .skill_info .skill_item {
		gap: 2em;
	}
}

@media only screen and (max-width: 640px) {
	#start header .inner {
		height: 80px;
	}
	#start header .pc_menu {
		display: none;
	}

	#start .mobile_menu {
		display: block;
	}

	#start main .main_text h2 {
		font-size: 3em;
	}

	.main_text {
		font-size: 13px;
	}

	#start main .main_text {
		padding: 0 20px;
	}

	#section1 .title h2 {
		font-size: 2.5em;
	}

	#section1 .specs .html {
		width: 140px;
	}

	#section1 .specs .css {
		width: 74px;
	}

	#section1 .specs .javascript {
		width: 150px;
	}

	#section1 .specs .sass {
		width: 100px;
	}

	#section1 .specs .react {
		width: 190px;
	}

	#section1 .specs .node {
		width: 120px;
	}
	
	#skill .section_inner .title h2 {
		font-size: 2.5em;
	}

	#work .section_inner .title h2 {
		font-size: 4em;
	}

	#contact .section_inner {
		flex-direction: column;
		gap: 30px;
		justify-content: center;
	}

	#contact .section_inner .title {
		width: 100%;
	}

	#contact .section_inner .title h2 {
		text-align: center;
	}

	#contact .section_inner .contact_wrap {
		width: 100%;
	}

	#contact .section_inner .contact_wrap {
		justify-content: center;
		gap: 20px;
	}

	#contact .section_inner .contact_wrap .contact_item {
		width: 15%;
	}
}